.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-icon-editor-contrast {
	font-size:(31.92/10)*1rem;
	width:(31.92/31.92)*1em;
}
.icon-icon-editor-crop {
	font-size:(48/10)*1rem;
	width:(48/48)*1em;
}
.icon-icon-editor-fill {
	font-size:(48/10)*1rem;
	width:(48/48)*1em;
}
.icon-icon-heart {
	font-size:(11.99/10)*1rem;
	width:(12.545/11.99)*1em;
}
.icon-icon-menu-burger {
	font-size:(24.007/10)*1rem;
	width:(49.945/24.007)*1em;
}
.icon-icon-menu-cross {
	font-size:(23.867/10)*1rem;
	width:(23.867/23.867)*1em;
}
.icon-logo-htmlacademy {
	font-size:(34.09/10)*1rem;
	width:(26.943/34.09)*1em;
}
.icon-logo-pink-blue-desktop {
	font-size:(40.375/10)*1rem;
	width:(146.3/40.375)*1em;
}
.icon-logo-pink-blue-mobile {
	font-size:(40.375/10)*1rem;
	width:(146.3/40.375)*1em;
}
.icon-logo-pink-white-desktop {
	font-size:(40.375/10)*1rem;
	width:(146.3/40.375)*1em;
}
.icon-logo-pink-white-mobile {
	font-size:(22.859/10)*1rem;
	width:(74.426/22.859)*1em;
}
.icon-logo-pink-white-tablet {
	font-size:(40.375/10)*1rem;
	width:(146.3/40.375)*1em;
}
