.header-logo {
  cursor: pointer;

  &--tablet,
  &--desktop {
    display: none;
  }

  @media #{$tablet-widths} {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  @media #{$desktop-widths} {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
